<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
    <meta charset="utf-8">
    <title>angularjs</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <style>
      .ng-valid.ng-dirty { border-color: green; }
      .ng-invalid.ng-dirty { border-color: red; }
    </style>
  </head>

  <body ng-controller="StoreController as store">

    <div class="container">
      <ul class="list-group">
        <li ng-repeat="product in store.products | orderBy:'-price'" ng-hide="product.soldOut" class="list-group-item">
          <h3>
            {{product.name}}
            <em class="pull-right">{{product.price | currency}}</em>
          </h3>
          <figure><img ng-src="{{product.images[0].full}}" alt=""></figure>

          <section ng-controller="PanelController as panel">
            <ul class="nav nav-pills">
              <li ng-class="{ active: panel.isSelected(1)}">
                <a href="javascript:void(0);" ng-click="panel.selectTab(1)">Description</a>
              </li>
              <li ng-class="{ active: panel.isSelected(2)}">
                <a href="javascript:void(0);" ng-click="panel.selectTab(2)">Specifications</a>
              </li>
              <li ng-class="{ active: panel.isSelected(3)}">
                <a href="javascript:void(0);" ng-click="panel.selectTab(3)">Reviews</a>
              </li>
            </ul>

            <div class="panel" ng-show="panel.isSelected(1)">
              <h4>Description</h4>
              <p>{{product.description}}</p>
            </div>
            <div class="panel" ng-show="panel.isSelected(2)">
              <h4>Specifications</h4>
              <blockquote>None yet</blockquote>
            </div>
            <div class="panel" ng-show="panel.isSelected(3)">
              <h4>Reviews</h4>
              <blockquote ng-repeat="review in product.reviews">
                <b>Stars: {{review.stars}}</b>
                {{review.body}}
                <cite>by: {{review.author}}</cite>
              </blockquote>

              <form name="reviewForm"
              ng-controller="ReviewController as reviewCtrl"
              ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
                <blockquote>
                  <b>Stars: {{reviewCtrl.review.stars}}</b>
                  {{reviewCtrl.review.body}}
                  <cite>by: {{reviewCtrl.review.author}}</cite>
                </blockquote>

                <div class="form-group">
                  <select ng-model="reviewCtrl.review.stars" class="form-control" required>
                    <option value="">- Rate the product -</option>
                    <option value="1">1 star</option>
                    <option value="2">2 stars</option>
                    <option value="3">3 stars</option>
                    <option value="4">4 stars</option>
                  </select>
                </div>

                <div class="form-group">
                  <textarea ng-model="reviewCtrl.review.body" class="form-control" required></textarea>
                </div>

                <div class="form-group">
                  <label for="">by:</label>
                  <input ng-model="reviewCtrl.review.author" type="email" class="form-control" required>
                </div>

                <div class="form-group">
                  <input ng-model="reviewCtrl.review.terms" type="checkbox" required> I agree to the terms<br>
                </div>

                <div class="flash-message form-validation">reviewForm is {{reviewForm.$valid}}</div>

                <div class="form-group">
                  <input type="submit" value="Submit" class="btn btn-primary">
                </div>
              </form>
            </div>
          </section>
        </li>
      </ul>
    </div>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script> -->
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
